# Final assignment - Introduction to Deep Learning & Neural Networks with Keras

###Imports

In [1]:
import pandas as pd
import numpy as np

### read data from csv file

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

### data processing

In [5]:
columns = concrete_data.columns
predictors = concrete_data[columns[columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [6]:
predictors.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

### import Keras packages

In [9]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [10]:
# define regression model
def get_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

### train and test

In [13]:
# build the model
model = get_model()

In [14]:
# fit the model
n_epochs = 50
model.fit(X_train, y_train, epochs=n_epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 1ms/step - loss: 3625.4871
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 1986.9233
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 1599.6575
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 1257.3658
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 1084.6486
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 965.2149
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 870.7385
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 801.9587
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 746.6544
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 696.0148
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 652.7407
Epoch 12/50
23/23 [==============================] - 0s 996us/step - loss: 619.0485
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 583.2616
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 555.1333
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 525.4106
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 500.3931
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 475.7201
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 453.4468
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 433.0815
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 410.7870
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 392.1055
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 376.3387
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 362.2939
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 342.9364
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 325.7489
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 311.7350
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 298.8704
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 286.5902
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 273.1302
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 262.4842
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 254.9398
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 242.1828
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 233.9276
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 225.3160
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 216.6001
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 203.7605
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 198.1767
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 188.9657
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 182.0712
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 175.5898
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 170.7133
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 164.4372
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 157.3727
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 151.4801
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 148.1503
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 144.2246
Epoch 47/50
23/23 [==============================] - 0s 931us/step - loss: 139.5940
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 136.5634
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 134.3495
Epoch 50/50
23/23 [==============================] - 0s 944us/step - loss: 131.4839

In [18]:
loss = model.evaluate(X_test, y_test)
loss

10/10 [==============================] - 0s 1ms/step - loss: 125.7281

125.72811889648438

In [16]:
from sklearn.metrics import mean_squared_error

In [20]:
y_pred = model.predict(X_test)
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

125.72810757712335 0.0

In [23]:

total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model = get_model()
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("mean of 50 MSEs: "+str(mean))
print("standard deviation: "+str(standard_deviation))

MSE 1: 99.5232162475586
MSE 2: 706.931396484375
MSE 3: 811.2157592773438
MSE 4: 440.5697326660156
MSE 5: 157.48556518554688
MSE 6: 127.59642028808594
MSE 7: 219.93411254882812
MSE 8: 1476.843505859375
MSE 9: 497.8842468261719
MSE 10: 117.77574157714844
MSE 11: 139.2783660888672
MSE 12: 197.63998413085938
MSE 13: 302.0442199707031
MSE 14: 132.19863891601562
MSE 15: 402.83612060546875
MSE 16: 151.85528564453125
MSE 17: 137.53555297851562
MSE 18: 142.62149047851562
MSE 19: 88.39824676513672
MSE 20: 116.61601257324219
MSE 21: 809.7568359375
MSE 22: 95.08963012695312
MSE 23: 174.31158447265625
MSE 24: 1641.1865234375
MSE 25: 110.97294616699219
MSE 26: 191.4539794921875
MSE 27: 110.63681030273438
MSE 28: 315.5450134277344
MSE 29: 125.2428970336914
MSE 30: 862.1211547851562
MSE 31: 183.3478546142578
MSE 32: 1009.9473266601562
MSE 33: 138.96347045898438
MSE 34: 359.9432678222656
MSE 35: 325.67291259765625
MSE 36: 439.4527587890625
MSE 37: 220.9916534423828
MSE 38: 152.5056915283203
MSE 39: 1783.5975341796875
MSE 40: 137.2013397216797
MSE 41: 172.80152893066406
MSE 42: 122.40613555908203
MSE 43: 112.76901245117188
MSE 44: 386.7679443359375
MSE 45: 134.86244201660156
MSE 46: 219.5005340576172
MSE 47: 366.8587646484375
MSE 48: 247.03933715820312
MSE 49: 258.57635498046875
MSE 50: 819.503662109375


mean of 50 MSEs: 369.9162138242933
standard deviation: 393.8301457541539

In [24]:
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    #print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print('same, but without getting a new model each time - i.e. just continuing the previous training')
print("mean of 50 MSEs: "+str(mean))
print("standard deviation: "+str(standard_deviation))

same, but without getting a new model each time - i.e. just continuing the previous training
mean of 50 MSEs: 58.31533184578054
standard deviation: 25.942736075631224